Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

fix(style): resolve CSS class name collisions across UI components
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssr/src/app.ts
  packages/style/src/classes.test.ts
  packages/style/src/classes.ts
  packages/ui/package.json
  packages/ui/src/css.ts
  packages/ui/src/theme/provider.tsx
  packages/ui/src/theme/themes.ts
  packages/ui/src/theme/tokens.ts
Due: oxfmt, oxlint --fix

chore: version packages
  .changeset/tsdown-auto-exports.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

chore: update bun.lock after dependency install
  bun.lock
Due: none

feat(ssg): add agent-markdown plugin for llms.txt support
  packages/ssg/package.json
  packages/ssg/src/plugins/agent-markdown/agent-markdown.test.ts
  packages/ssg/src/plugins/agent-markdown/index.ts
  packages/ssg/src/plugins/agent-markdown/types.ts
  packages/ssg/src/plugins/index.ts
  packages/ssg/src/ssg.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock
  bun.lock
Due: none

feat(ssg): integrate agent-markdown into docs-theme plugin
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/plugins/index.ts
Due: oxfmt, oxlint --fix

fix(ssg): move afterEach import to top and normalize basePath in agent-markdown
  packages/ssg/src/plugins/agent-markdown/agent-markdown.test.ts
  packages/ssg/src/plugins/agent-markdown/index.ts
Due: oxfmt, oxlint --fix

refactor(ssg): rename agent-markdown plugin to llms
  packages/ssg/package.json
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/plugins/index.ts
  packages/ssg/src/plugins/llms/index.ts
  packages/ssg/src/plugins/llms/llms.test.ts
  packages/ssg/src/plugins/llms/types.ts
Due: oxfmt, oxlint --fix

fix: pass DEEPSEEK_API_KEY secret to agent-worker in changeset workflow
  .github/workflows/changeset-agent.yml
Due: oxfmt

chore: add changesets for unreleased package changes
  .changeset/core-forward-primitive.md
  .changeset/dom-forward-native-svg.md
  .changeset/ssg-llms-plugin.md
  .changeset/ssg-plugin-system.md
  .changeset/ssr-rendering-fixes.md
  .changeset/style-class-collision.md
  .changeset/tailwind-test-cleanup.md
  .changeset/ui-initial-components.md
Due: oxfmt

chore: add changeset for PR #96
  .changeset/auto-pr-96.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-96.md
  .changeset/core-forward-primitive.md
  .changeset/dom-forward-native-svg.md
  .changeset/ssg-llms-plugin.md
  .changeset/ssg-plugin-system.md
  .changeset/ssr-rendering-fixes.md
  .changeset/style-class-collision.md
  .changeset/tailwind-test-cleanup.md
  .changeset/ui-initial-components.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/dom/CHANGELOG.md
  packages/dom/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
  packages/ssg/CHANGELOG.md
  packages/ssg/package.json
  packages/ssr/CHANGELOG.md
  packages/ssr/package.json
  packages/style/CHANGELOG.md
  packages/style/package.json
  packages/tailwind/CHANGELOG.md
  packages/tailwind/package.json
  packages/terminal/CHANGELOG.md
  packages/terminal/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: oxfmt

feat(docs,ui): update docs site and add Tabs/Steps UI components
  apps/docs/README.md
  apps/docs/build.tsx
  apps/docs/content/guides/building-a-counter.md
  apps/docs/content/guides/building-a-todo-app.md
  apps/docs/content/guides/styling-examples.md
  apps/docs/content/reference/components.md
  apps/docs/content/reference/context.md
  apps/docs/content/reference/dom-rendering.md
  apps/docs/content/reference/getting-started.md
  apps/docs/content/reference/signals.md
  apps/docs/content/reference/ssg.md
  apps/docs/content/reference/ssr.md
  apps/docs/content/reference/styling.md
  apps/docs/content/reference/tailwind.md
  apps/docs/content/reference/terminal.md
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ui/package.json
  packages/ui/src/components/steps/index.ts
  packages/ui/src/components/steps/steps.style.ts
  packages/ui/src/components/steps/steps.test.tsx
  packages/ui/src/components/steps/steps.tsx
  packages/ui/src/components/tabs/index.ts
  packages/ui/src/components/tabs/tabs.style.ts
  packages/ui/src/components/tabs/tabs.test.tsx
  packages/ui/src/components/tabs/tabs.tsx
  packages/ui/src/css.ts
  packages/ui/src/index.ts
Due: oxfmt, oxlint --fix

fix(docs): fix broken links and inconsistent paths across documentation
  CLAUDE.md
  apps/docs/content/guides/building-a-counter.md
  apps/docs/content/guides/styling-examples.md
  apps/docs/content/reference/components.md
  apps/docs/content/reference/signals.md
  apps/docs/content/reference/ssg.md
  docs/adrs/template.md
  docs/designs/template.md
  docs/rfcs/template.md
Due: oxfmt

refactor: rename root docs/ to dev-docs/ to avoid confusion with apps/docs/
  CLAUDE.md
  DOCUMENTING.md
  WORKFLOW.md
  apps/docs/README.md
  dev-docs/README.md
  dev-docs/ROADMAP.md
  dev-docs/adrs/README.md
  dev-docs/adrs/template.md
  dev-docs/designs/README.md
  dev-docs/designs/context-api-design.md
  dev-docs/designs/logger-api-design.md
  dev-docs/designs/signal-interface.md
  dev-docs/designs/ssr-html-entry-build.md
  dev-docs/designs/template.md
  dev-docs/rfcs/006-style-system.md
  dev-docs/rfcs/007-component-library-runtime.md
  dev-docs/rfcs/008-cross-framework-integration.md
  dev-docs/rfcs/2025-08-dual-rendering-targets.md
  dev-docs/rfcs/2025-08-signal-reactivity.md
  dev-docs/rfcs/2025-09-context-api.md
  dev-docs/rfcs/2025-10-terminal-logger.md
  dev-docs/rfcs/2025-11-ssr-island-architecture.md
  dev-docs/rfcs/README.md
  dev-docs/rfcs/template.md
  packages/style/README.md
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

refactor: rename dev-docs/ to design/ for clarity
  CLAUDE.md
  DOCUMENTING.md
  WORKFLOW.md
  apps/docs/README.md
  design/README.md
  design/ROADMAP.md
  design/adrs/README.md
  design/adrs/template.md
  design/designs/README.md
  design/designs/context-api-design.md
  design/designs/logger-api-design.md
  design/designs/signal-interface.md
  design/designs/ssr-html-entry-build.md
  design/designs/template.md
  design/rfcs/006-style-system.md
  design/rfcs/007-component-library-runtime.md
  design/rfcs/008-cross-framework-integration.md
  design/rfcs/2025-08-dual-rendering-targets.md
  design/rfcs/2025-08-signal-reactivity.md
  design/rfcs/2025-09-context-api.md
  design/rfcs/2025-10-terminal-logger.md
  design/rfcs/2025-11-ssr-island-architecture.md
  design/rfcs/README.md
  design/rfcs/template.md
  packages/style/README.md
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

fix: update stale references in design/README.md
  design/README.md
Due: oxfmt

chore: add changeset for PR #100
  .changeset/auto-pr-100.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-100.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

feat(docs-theme): support custom homepage or disabling default HomePage
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
Due: oxfmt, oxlint --fix

feat(docs-theme): support custom homepage or disabling default HomePage
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/plugins/index.ts
Due: oxfmt, oxlint --fix

Path conditions:
  oxfmt: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
