Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

refactor: extract shared base elements across mermaid diagram types
  packages/mermaid/src/base.style.ts
  packages/mermaid/src/components/edge.tsx
  packages/mermaid/src/components/markers.ts
  packages/mermaid/src/components/sequence/message.tsx
  packages/mermaid/src/edge.style.ts
  packages/mermaid/src/index.ts
  packages/mermaid/src/layout/flowchart.ts
  packages/mermaid/src/layout/index.ts
  packages/mermaid/src/layout/measure.ts
  packages/mermaid/src/layout/sequence.ts
  packages/mermaid/src/node.style.ts
  packages/mermaid/src/sequence.style.ts
  packages/mermaid/src/subgraph.style.ts
Due: oxfmt, oxlint --fix

feat: enhance layout engine with nested subgraphs and subgraph-aware ordering
  packages/mermaid/src/layout/flowchart.test.ts
  packages/mermaid/src/layout/flowchart.ts
  packages/mermaid/src/parser/flowchart.test.ts
  packages/mermaid/src/parser/flowchart.ts
  packages/mermaid/src/types.ts
Due: oxfmt, oxlint --fix

feat: systematic layout engine improvements for architecture diagrams
  packages/mermaid/src/layout/flowchart.test.ts
  packages/mermaid/src/layout/flowchart.ts
  packages/mermaid/src/layout/sequence.test.ts
  packages/mermaid/src/layout/sequence.ts
  packages/mermaid/src/types.ts
Due: oxfmt, oxlint --fix

fix: resolve subgraph overlap and negative coordinates in layout engine
  packages/mermaid/src/layout/flowchart.ts
  packages/mermaid/src/layout/sequence.ts
Due: oxfmt, oxlint --fix

docs: update mermaid docs and add raw meta flag for nested codeblocks
  apps/docs/content/reference/mermaid.md
  packages/mermaid/README.md
  packages/mermaid/src/remark-mermaid.test.ts
  packages/mermaid/src/remark-mermaid.ts
Due: oxfmt, oxlint --fix

fix: resolve sequence diagram rendering bugs for nested blocks and note positioning
  packages/mermaid/src/layout/sequence.test.ts
  packages/mermaid/src/layout/sequence.ts
  packages/mermaid/src/parser/sequence.test.ts
  packages/mermaid/src/parser/sequence.ts
  packages/mermaid/src/types.ts
Due: oxfmt, oxlint --fix

docs: add mermaid raw code blocks alongside rendered diagrams
  apps/docs/content/reference/getting-started.md
  apps/docs/content/reference/mermaid.md
  apps/docs/content/reference/signals.md
  apps/docs/content/reference/ssr.md
Due: oxfmt

docs: replace @semajsx/* internal package refs with semajsx subpath exports
  apps/docs/content/reference/getting-started.md
  apps/docs/content/reference/mermaid.md
  apps/docs/content/reference/ssr.md
Due: oxfmt

fix: collect pre-existing node refs in subgraph parser
  packages/mermaid/src/parser/flowchart.test.ts
  packages/mermaid/src/parser/flowchart.ts
Due: oxfmt, oxlint --fix

feat: enhance mermaid layout with dummy nodes, crossing minimization, and self-loops
  packages/mermaid/src/components/sequence/block.tsx
  packages/mermaid/src/components/sequence/message.tsx
  packages/mermaid/src/index.ts
  packages/mermaid/src/layout/flowchart.test.ts
  packages/mermaid/src/layout/flowchart.ts
  packages/mermaid/src/layout/index.ts
  packages/mermaid/src/layout/measure.test.ts
  packages/mermaid/src/layout/measure.ts
  packages/mermaid/src/layout/sequence.test.ts
  packages/mermaid/src/layout/sequence.ts
  packages/mermaid/src/sequence.style.ts
  packages/mermaid/src/sequence.tsx
  packages/mermaid/src/types.ts
Due: oxfmt, oxlint --fix

fix: prefix unused Layout parameter in docs-theme test
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
Due: oxfmt, oxlint --fix

chore: add changeset for PR #128
  .changeset/auto-pr-128.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-128.md
  bun.lock
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

feat(terminal): add keyboard input, spinner, multiselect, exit hook, and raw mode detection
  packages/terminal/src/components/MultiSelect.tsx
  packages/terminal/src/components/Spinner.tsx
  packages/terminal/src/components/index.ts
  packages/terminal/src/hooks.test.ts
  packages/terminal/src/hooks.ts
  packages/terminal/src/index.ts
  packages/terminal/src/keyboard.test.ts
  packages/terminal/src/keyboard.ts
  packages/terminal/src/render.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock after install
  bun.lock
Due: none

refactor(terminal): fix memory leaks, add per-render context, and optimize performance
  packages/terminal/src/components/MultiSelect.tsx
  packages/terminal/src/components/Spinner.tsx
  packages/terminal/src/context.ts
  packages/terminal/src/hooks.test.ts
  packages/terminal/src/hooks.ts
  packages/terminal/src/index.ts
  packages/terminal/src/keyboard.test.ts
  packages/terminal/src/keyboard.ts
  packages/terminal/src/lifecycle.test.ts
  packages/terminal/src/lifecycle.ts
  packages/terminal/src/properties.ts
  packages/terminal/src/render.ts
  packages/terminal/src/renderer.ts
  packages/terminal/src/types.ts
  packages/terminal/src/utils/colors.ts
Due: oxfmt, oxlint --fix

fix(terminal): resolve keyboard duplication, cleanup ordering, and ExitHint global state
  packages/terminal/src/components/ExitHint.tsx
  packages/terminal/src/context.ts
  packages/terminal/src/lifecycle.ts
  packages/terminal/src/render.ts
  packages/terminal/src/renderer.ts
Due: oxfmt, oxlint --fix

refactor(core,terminal): per-component onCleanup, centralize raw mode, rename TerminalSession
  packages/core/src/render-core.ts
  packages/terminal/src/components/ExitHint.tsx
  packages/terminal/src/context.ts
  packages/terminal/src/hooks.test.ts
  packages/terminal/src/hooks.ts
  packages/terminal/src/keyboard.test.ts
  packages/terminal/src/keyboard.ts
  packages/terminal/src/lifecycle.test.ts
  packages/terminal/src/lifecycle.ts
  packages/terminal/src/render.ts
  packages/terminal/src/renderer.ts
Due: oxfmt, oxlint --fix

refactor(terminal): remove backward-compatible aliases for RenderContext
  packages/terminal/src/context.ts
Due: oxfmt, oxlint --fix

fix(terminal): replace nonexistent ReadonlySignal with ReadableSignal
  packages/terminal/src/components/MultiSelect.tsx
  packages/terminal/src/components/Spinner.tsx
  packages/terminal/src/keyboard.ts
Due: oxfmt, oxlint --fix

chore: add changeset for PR #132
  .changeset/auto-pr-132.md
Due: oxfmt

Path conditions:
  oxfmt: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
