Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

feat(semajsx): export prompt subpaths
  packages/semajsx/package.json
  packages/semajsx/src/prompt/index.ts
  packages/semajsx/src/prompt/jsx-dev-runtime.ts
  packages/semajsx/src/prompt/jsx-runtime.ts
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

feat: add soul-chat reactive prompt example
  packages/prompt/examples/soul-chat.tsx
Due: oxfmt, oxlint --fix

feat: add Each and Window components to @semajsx/prompt
  packages/core/src/render-core.ts
  packages/prompt/examples/soul-chat.tsx
  packages/prompt/src/components/Each.tsx
  packages/prompt/src/components/Window.tsx
  packages/prompt/src/components/components.test.tsx
  packages/prompt/src/components/index.ts
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix

feat: add @semajsx/prompt package for LLM agent prompt rendering
  bun.lock
  packages/core/src/render-core.ts
  packages/prompt/package.json
  packages/prompt/src/components/ActionBar.tsx
  packages/prompt/src/components/KeyValue.tsx
  packages/prompt/src/components/List.tsx
  packages/prompt/src/components/Screen.tsx
  packages/prompt/src/components/Section.tsx
  packages/prompt/src/components/components.test.tsx
  packages/prompt/src/components/index.ts
  packages/prompt/src/index.ts
  packages/prompt/src/jsx-dev-runtime.ts
  packages/prompt/src/jsx-runtime.ts
  packages/prompt/src/operations.test.ts
  packages/prompt/src/operations.ts
  packages/prompt/src/properties.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
  packages/prompt/src/serialize.test.ts
  packages/prompt/src/serialize.ts
  packages/prompt/src/types.ts
  packages/prompt/tsconfig.json
  packages/prompt/tsdown.config.ts
  packages/prompt/vitest.config.ts
  tsconfig.json
Due: oxfmt, oxlint --fix

chore: update bun.lock for @semajsx/prompt package rename
  bun.lock
Due: none

fix(prompt): batch committed renders
  packages/core/src/index.ts
  packages/prompt/src/jsx-runtime.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix

fix: resolve multi-instance render interference and insertBefore inconsistency
  packages/prompt/src/operations.test.ts
  packages/prompt/src/operations.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix

fix(signal): lazy computed to prevent memory leaks
  packages/core/src/helpers.test.ts
  packages/signal/src/computed.test.ts
  packages/signal/src/computed.ts
Due: oxfmt, oxlint --fix

perf: signal coalescing, array append detection, and style injection refactor
  packages/core/src/render-core.ts
  packages/semajsx/package.json
  packages/semajsx/tsdown.config.ts
  packages/signal/src/computed.test.ts
  packages/signal/src/computed.ts
  packages/signal/src/signal.test.ts
  packages/signal/src/signal.ts
  packages/style/src/inject.test.ts
  packages/style/src/inject.ts
Due: oxfmt, oxlint --fix

fix(blocks): align source packages with monorepo typecheck
  packages/blocks/src/block-list.tsx
  packages/blocks/src/block-view.tsx
  packages/blocks/src/renderers/code.tsx
  packages/blocks/src/renderers/divider.tsx
  packages/blocks/src/renderers/fallback.tsx
  packages/blocks/src/renderers/heading.tsx
  packages/blocks/src/renderers/text.tsx
  packages/blocks/tsconfig.json
  packages/chat/src/components/chat-input.tsx
  packages/chat/src/components/event-list.tsx
  packages/chat/src/components/text-block.tsx
  packages/chat/tsconfig.json
  packages/semajsx/tsconfig.json
Due: oxfmt, oxlint --fix

fix(ui): relax isolated declaration checks
  bun.lock
  packages/ui/tsconfig.json
Due: oxfmt

fix(chat): remove ts extension imports for tsgo
  packages/chat/src/components/chat-input.style.ts
  packages/chat/src/components/chat-input.tsx
  packages/chat/src/components/error-block.style.ts
  packages/chat/src/components/error-block.tsx
  packages/chat/src/components/event-list.style.ts
  packages/chat/src/components/event-list.tsx
  packages/chat/src/components/event-renderer.style.ts
  packages/chat/src/components/event-renderer.tsx
  packages/chat/src/components/run-block.style.ts
  packages/chat/src/components/run-block.tsx
  packages/chat/src/components/status-bar.style.ts
  packages/chat/src/components/status-bar.tsx
  packages/chat/src/components/text-block.style.ts
  packages/chat/src/components/text-block.tsx
  packages/chat/src/components/thinking-block.style.ts
  packages/chat/src/components/thinking-block.tsx
  packages/chat/src/components/tool-call-card.style.ts
  packages/chat/src/components/tool-call-card.tsx
  packages/chat/src/components/user-message-block.style.ts
  packages/chat/src/components/user-message-block.tsx
  packages/chat/src/index.ts
  packages/semajsx/tsconfig.json
Due: oxfmt, oxlint --fix

feat(semajsx): export icons subpath
  packages/semajsx/package.json
  packages/semajsx/src/icons/index.ts
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

refactor(core): move cleanup registration to component ctx
  packages/core/src/context.ts
  packages/core/src/render-core.ts
  packages/core/src/types.ts
  packages/dom/src/index.ts
  packages/dom/src/lifecycle.test.tsx
  packages/dom/src/lifecycle.ts
  packages/dom/src/render.ts
  packages/terminal/src/components/MultiSelect.tsx
  packages/terminal/src/components/Spinner.tsx
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/TextInput.tsx
  packages/terminal/src/context.ts
  packages/terminal/src/index.ts
  packages/terminal/src/lifecycle.test.ts
  packages/terminal/src/lifecycle.test.tsx
  packages/terminal/src/lifecycle.ts
  packages/terminal/src/render.ts
Due: oxfmt, oxlint --fix

refactor(runtime): add runtime component ctx semantics
  packages/core/src/context.test.ts
  packages/core/src/context.ts
  packages/core/src/index.ts
  packages/core/src/render-core.ts
  packages/core/src/types.ts
  packages/dom/src/jsx-runtime.ts
  packages/dom/src/lifecycle.test.tsx
  packages/mermaid/src/flowchart.tsx
  packages/mermaid/src/sequence.tsx
  packages/prompt/src/jsx-runtime.ts
  packages/semajsx/src/index.ts
  packages/ssr/src/client/hydrate.ts
  packages/ssr/src/collector.ts
  packages/ssr/src/render.ts
  packages/ssr/src/vite-builder.ts
  packages/terminal/src/components/MultiSelect.tsx
  packages/terminal/src/components/Spinner.tsx
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/TextInput.tsx
  packages/terminal/src/jsx-runtime.ts
  packages/terminal/src/lifecycle.test.tsx
Due: oxfmt, oxlint --fix

chore(ci): simplify release flow to standard changesets action
  .github/workflows/changeset-agent.yml
  .github/workflows/release.yml
Due: oxfmt

feat(semajsx): add preview CLI, bump deps, strip internal build plumbing
  apps/docs/package.json
  bun.lock
  design/rfcs/009-cli-preview.md
  package.json
  packages/blocks/package.json
  packages/chat/package.json
  packages/core/package.json
  packages/core/tsdown.config.ts
  packages/dom/package.json
  packages/dom/tsdown.config.ts
  packages/icons/package.json
  packages/logger/package.json
  packages/logger/tsdown.config.ts
  packages/mermaid/package.json
  packages/prompt/package.json
  packages/prompt/tsdown.config.ts
  packages/semajsx/README.md
  packages/semajsx/package.json
  packages/semajsx/src/cli/index.ts
  packages/semajsx/src/cli/preview.test.ts
  packages/semajsx/src/cli/preview.ts
  packages/semajsx/src/cli/virtual-plugin.ts
  packages/semajsx/tsdown.config.ts
  packages/signal/package.json
  packages/signal/tsdown.config.ts
  packages/ssg/package.json
  packages/ssr/package.json
  packages/ssr/tsdown.config.ts
  packages/style/package.json
  packages/tailwind/package.json
  packages/terminal/package.json
  packages/terminal/tsdown.config.ts
  packages/ui/package.json
  packages/ui/tsdown.config.ts
  packages/utils/package.json
  packages/utils/tsdown.config.ts
Due: oxfmt, oxlint --fix

docs(design): bootstrap design-driven skeleton
  CLAUDE.md
  design/DESIGN-reactivity.md
  design/DESIGN-rendering.md
  design/DESIGN.md
  design/decisions/.gitkeep
Due: oxfmt

chore(changeset): record preview CLI as minor for next release
  .changeset/preview-cli.md
Due: oxfmt

fix(semajsx): add esbuild devDep so preview CLI types resolve in CI
  bun.lock
  packages/semajsx/package.json
Due: oxfmt
