Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

fix(workflows): let deepseek handle Phase 4 synthesis
  .workflows/architecture-review.yaml
Due: oxfmt

chore: remove workflow artifacts from git
  .gitignore
  .workflows/.workflow/architecture-review/_state/agent-status.json
  .workflows/.workflow/architecture-review/_state/inbox.json
  .workflows/.workflow/architecture-review/_state/instance.lock
  .workflows/.workflow/architecture-review/channel.jsonl
  .workflows/.workflow/architecture-review/cursor-fixes-summary.md
  .workflows/.workflow/architecture-review/cursor-response.md
  .workflows/.workflow/architecture-review/documents/fixes/type-safety-fixes.md
  .workflows/.workflow/architecture-review/phase2-analysis.md
  .workflows/.workflow/architecture-review/resources/res_mlxpmc2jatlerh.md
  .workflows/.workflow/architecture-review/resources/res_mlxpo658vgm0v2.md
  .workflows/.workflow/architecture-review/resources/res_mlxppzv4wsmnrd.md
  .workflows/.workflow/architecture-review/resources/res_mlxpq5ucii262s.md
  .workflows/.workflow/architecture-review/resources/res_mlxprfxzm0d7ff.md
  .workflows/.workflow/architecture-review/resources/res_mlxprm0bhoqdjj.md
  .workflows/.workflow/architecture-review/resources/res_mlxpsfhtwb0h0l.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu20mckksk8.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu90whnpl1c.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwbkk3ucunk.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwivzlyxf52.md
  .workflows/.workflow/architecture-review/resources/res_mlxpyti6kfglc1.md
  .workflows/.workflow/architecture-review/workspaces/cursor/.cursor/mcp.json
  .workflows/.workflow/architecture-review/workspaces/minimax-claude/mcp-config.json
Due: oxfmt

feat: add changeset and release workflows (code changes reverted)
  apps/docs/styles.css
  packages/core/src/component.ts
  packages/core/src/context.ts
  packages/core/src/helpers.ts
  packages/core/src/render-core.ts
  packages/dom/src/properties.ts
  packages/signal/src/computed.ts
  packages/signal/src/signal.ts
  packages/ssr/src/client/island.ts
  packages/ssr/src/shared/types.ts
  packages/ssr/src/vite-router.ts
Due: oxfmt, oxlint --fix

feat: add agent-changeset workflow for automatic changeset generation
  .github/workflows/changeset-release.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

fix: build errors - isolatedDeclarations, import paths
  packages/core/package.json
  packages/signal/package.json
  packages/ssr/src/collector.ts
  packages/ssr/src/render.ts
  packages/ssr/src/shared/types.ts
  packages/tailwind/tsconfig.json
Due: oxfmt, oxlint --fix

refactor(workflows): redesign as project introspection tool
  .workflows/architecture-review.yaml
Due: oxfmt

style: format code with oxfmt
  .github/workflows/changeset-release.yml
  .workflows/.workflow/architecture-review/_state/agent-status.json
  .workflows/.workflow/architecture-review/_state/inbox.json
  .workflows/.workflow/architecture-review/_state/instance.lock
  .workflows/.workflow/architecture-review/channel.jsonl
  .workflows/.workflow/architecture-review/cursor-fixes-summary.md
  .workflows/.workflow/architecture-review/cursor-response.md
  .workflows/.workflow/architecture-review/documents/fixes/type-safety-fixes.md
  .workflows/.workflow/architecture-review/phase2-analysis.md
  .workflows/.workflow/architecture-review/resources/res_mlxpmc2jatlerh.md
  .workflows/.workflow/architecture-review/resources/res_mlxpo658vgm0v2.md
  .workflows/.workflow/architecture-review/resources/res_mlxppzv4wsmnrd.md
  .workflows/.workflow/architecture-review/resources/res_mlxpq5ucii262s.md
  .workflows/.workflow/architecture-review/resources/res_mlxprfxzm0d7ff.md
  .workflows/.workflow/architecture-review/resources/res_mlxprm0bhoqdjj.md
  .workflows/.workflow/architecture-review/resources/res_mlxpsfhtwb0h0l.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu20mckksk8.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu90whnpl1c.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwbkk3ucunk.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwivzlyxf52.md
  .workflows/.workflow/architecture-review/resources/res_mlxpyti6kfglc1.md
  .workflows/.workflow/architecture-review/workspaces/cursor/.cursor/mcp.json
  .workflows/.workflow/architecture-review/workspaces/minimax-claude/mcp-config.json
  apps/docs/styles.css
  packages/core/src/component.ts
  packages/core/src/context.ts
  packages/core/src/helpers.ts
  packages/core/src/render-core.ts
  packages/dom/src/properties.ts
  packages/signal/src/computed.ts
  packages/signal/src/signal.ts
  packages/ssr/src/client/island.ts
  packages/ssr/src/shared/types.ts
  packages/ssr/src/vite-router.ts
Due: oxfmt, oxlint --fix

chore: remove .npmrc from git, add to .gitignore
  .gitignore
  .npmrc
Due: none

style: format code
  .github/workflows/changeset-release.yml
  apps/docs/styles.css
Due: oxfmt

fix: typecheck errors - ES2021 lib, unused params, extractCss types
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  packages/configs/tsconfig.base.json
  packages/configs/tsconfig.lib.json
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

fix: simplify changeset workflow - skip agent-worker build in CI
  .github/workflows/changeset-release.yml
Due: oxfmt

chore: add changeset for PR #70
  .changeset/pr-70.md
Due: oxfmt

fix: add manual release trigger
  .github/workflows/changeset-release.yml
Due: oxfmt

fix: add manual release trigger (#71)
  .github/workflows/changeset-release.yml
Due: oxfmt

chore: add changeset for PR #71
  .changeset/pr-71.md
Due: oxfmt

fix: package name to @semajsx/semajsx, fix npm publish command
  .github/workflows/changeset-release.yml
  packages/semajsx/package.json
Due: oxfmt

fix: package name to @semajsx/semajsx, fix npm publish command (#72)
  .github/workflows/changeset-release.yml
  packages/semajsx/package.json
Due: oxfmt

chore: add changeset for PR #72
  .changeset/pr-72.md
Due: oxfmt

fix: revert package name to semajsx
  packages/semajsx/package.json
Due: oxfmt

chore: add changeset for PR #73
  .changeset/pr-73.md
Due: oxfmt

fix: remove deprecated publishConfig.exports, fix .npmrc
  packages/semajsx/package.json
Due: oxfmt

fix: format
  packages/semajsx/package.json
Due: oxfmt

fix: remove deprecated publishConfig, fix npm warnings (#74)
  packages/semajsx/package.json
Due: oxfmt

chore: add changeset for PR #74
  .changeset/pr-74.md
Due: oxfmt

fix: update claude-code workflow with proper config
  .github/workflows/claude-code.yml
Due: oxfmt

fix: update claude-code workflow (#75)
  .github/workflows/claude-code.yml
Due: oxfmt

chore: add changeset for PR #75
  .changeset/pr-75.md
Due: oxfmt

fix: simplify claude-code workflow, remove auto-format
  .github/workflows/claude-code.yml
Due: oxfmt

fix: simplify claude-code workflow
  .github/workflows/claude-code.yml
Due: oxfmt

fix: restore docs styles
  apps/docs/styles.css
Due: none

fix: restore docs styles from main
  apps/docs/styles.css
Due: none

fix(docs): fix type error in Shiki transformer
  apps/docs/build.tsx
  apps/docs/package.json
Due: oxfmt, oxlint --fix

fix: update workflows
  .github/workflows/changeset-release.yml
  .github/workflows/claude-code.yml
  .npmrc
  apps/docs/package.json
Due: oxfmt

chore: remove claude-code workflow
  .github/workflows/claude-code.yml
Due: oxfmt

feat: add agent-worker for automatic changeset generation
  .github/workflows/changeset-release.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

feat: add release PR workflow with approval
  .github/workflows/changeset-release.yml
Due: oxfmt

fix: add workflow_dispatch support
  .github/workflows/changeset-release.yml
Due: oxfmt

fix: create release PR only when changesets exist
  .github/workflows/changeset-release.yml
Due: oxfmt

style: align 404 page with Apple-inspired design system
  apps/docs/components/NotFound.tsx
  apps/docs/styles.css
Due: oxfmt, oxlint --fix

Path conditions:
  oxfmt: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
