Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

refactor: replace prepack script with conditional exports
  packages/configs/tsconfig.base.json
  packages/semajsx/package.json
  packages/semajsx/scripts/prepack.mjs
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

fix: add NODE_AUTH_TOKEN to release workflow publish step
  .github/workflows/release.yml
  packages/semajsx/package.json
Due: oxfmt

fix: resolve npm publish warnings for always-auth and publishConfig.exports
  .github/workflows/release.yml
  packages/semajsx/package.json
  packages/semajsx/scripts/prepack.mjs
Due: oxfmt

fix: remove bundled internal packages from semajsx devDependencies
  bun.lock
  packages/semajsx/package.json
Due: oxfmt

fix: use noExternal to bundle workspace packages instead of removing devDependencies
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: add changeset for fix release
  .changeset/fix-dependencies.md
  package.json
Due: oxfmt

fix: use path-based filter for build to exclude docs app
  package.json
Due: oxfmt

fix: handle direct pushes with changesets in changeset-agent workflow
  .github/workflows/changeset-agent.yml
Due: oxfmt

fix: add GitHub API diagnostics for changeset version step
  .github/workflows/changeset-agent.yml
Due: oxfmt

chore: version packages
  .changeset/fix-dependencies.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

feat: enable tsdown auto-exports for semajsx package
  packages/semajsx/package.json
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: add changeset for tsdown auto-exports
  .changeset/tsdown-auto-exports.md
Due: oxfmt

fix: use umbrella package paths in generated client-side imports
  packages/ssg/src/mdx/processor.ts
  packages/ssg/src/mdx/vite-plugin.ts
  packages/ssr/src/app.ts
  packages/ssr/src/vite-builder.ts
Due: oxfmt, oxlint --fix

fix: add retry loop for GitHub branch indexing before PR creation
  .github/workflows/changeset-agent.yml
Due: oxfmt

fix: remove duplicate border-top when hr precedes h2 in docs
  apps/docs/styles-tailwind.css
  apps/docs/styles.css
Due: none

feat: add Native component for embedding external DOM elements
  packages/core/src/render-core.ts
  packages/dom/src/index.ts
  packages/dom/src/native.test.tsx
  packages/dom/src/native.ts
Due: oxfmt, oxlint --fix

feat(ssg): add Lucide icon plugin with isomorphic rendering
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/src/ssg/plugins/lucide.ts
  packages/ssg/package.json
  packages/ssg/src/plugins/index.ts
  packages/ssg/src/plugins/lucide/component.test.tsx
  packages/ssg/src/plugins/lucide/component.tsx
  packages/ssg/src/plugins/lucide/index.ts
  packages/ssr/src/render.ts
Due: oxfmt, oxlint --fix

refactor(ssg): add hook-based plugin system following Vite/Rollup design
  packages/ssg/src/index.ts
  packages/ssg/src/plugins/lucide/component.test.tsx
  packages/ssg/src/plugins/lucide/index.ts
  packages/ssg/src/ssg.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

feat(ssg): expand plugin config to support document, routes, collections
  packages/ssg/src/index.ts
  packages/ssg/src/ssg.test.tsx
  packages/ssg/src/ssg.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

feat(ssg): add docs-theme plugin with Apple-inspired documentation site
  packages/semajsx/package.json
  packages/semajsx/src/ssg/plugins/docs-theme.ts
  packages/ssg/package.json
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/styles.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/plugins/index.ts
Due: oxfmt, oxlint --fix

refactor(docs): migrate docs app to use docsTheme plugin
  apps/docs/build.tsx
  apps/docs/components/Callout.tsx
  apps/docs/components/CodeBlock.tsx
  apps/docs/components/Document.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
  apps/docs/components/index.ts
  apps/docs/styles-tailwind.css
  apps/docs/styles.css
  apps/docs/styles/extract.ts
  apps/docs/styles/theme.style.ts
Due: oxfmt, oxlint --fix

feat(ssg): add nested plugin support and docs-theme lucide integration
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/ssg.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

refactor(ssg): simplify plugin composition to Vite-style array flattening
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/ssg.test.tsx
  packages/ssg/src/ssg.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

fix(semajsx): add missing ssg plugin entry points to umbrella build
  packages/semajsx/tsdown.config.ts
  packages/ssg/src/plugins/docs-theme/components.tsx
Due: oxfmt, oxlint --fix

chore(semajsx): alphabetize exports in package.json
  packages/semajsx/package.json
Due: oxfmt

fix(ssg): fix type errors in docs-theme plugin and SSG types
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/types.ts
Due: oxfmt, oxlint --fix

chore(docs): remove dead generate-css.ts
  apps/docs/generate-css.ts
Due: oxfmt, oxlint --fix

fix(ssr): preserve Document template and fix CSS escaping in SSR output
  packages/ssg/src/ssg.ts
  packages/ssr/src/app.ts
  packages/ssr/src/document.tsx
  packages/ssr/src/render.ts
  packages/ssr/src/shared/types.ts
Due: oxfmt, oxlint --fix

refactor(ssr): extract BuildScriptEntry type for renderHtml scripts
  packages/ssg/src/ssg.ts
  packages/ssr/src/app.ts
  packages/ssr/src/index.ts
  packages/ssr/src/shared/types.ts
Due: oxfmt, oxlint --fix

fix(ssr): add httpEquiv attribute mapping and fix css default value
  packages/ssg/src/ssg.ts
  packages/ssr/src/document.tsx
  packages/ssr/src/render.ts
Due: oxfmt, oxlint --fix
