Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

chore: version packages
  .changeset/auto-pr-132.md
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

refactor: use remote changeset workflow from lidessen/moniro
  .github/workflows/changeset-agent.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

fix(terminal): fix process hang after unmount and row layout bug
  packages/terminal/src/jsx-runtime.ts
  packages/terminal/src/operations.ts
  packages/terminal/src/render.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock
  bun.lock
Due: none

chore: add changeset for PR #136
  .changeset/auto-pr-136.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-136.md
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

feat: add @semajsx/prompt package for LLM agent prompt rendering
  bun.lock
  packages/core/src/render-core.ts
  packages/prompt/package.json
  packages/prompt/src/components/ActionBar.tsx
  packages/prompt/src/components/KeyValue.tsx
  packages/prompt/src/components/List.tsx
  packages/prompt/src/components/Screen.tsx
  packages/prompt/src/components/Section.tsx
  packages/prompt/src/components/components.test.tsx
  packages/prompt/src/components/index.ts
  packages/prompt/src/index.ts
  packages/prompt/src/jsx-dev-runtime.ts
  packages/prompt/src/jsx-runtime.ts
  packages/prompt/src/operations.test.ts
  packages/prompt/src/operations.ts
  packages/prompt/src/properties.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
  packages/prompt/src/serialize.test.ts
  packages/prompt/src/serialize.ts
  packages/prompt/src/types.ts
  packages/prompt/tsconfig.json
  packages/prompt/tsdown.config.ts
  packages/prompt/vitest.config.ts
  tsconfig.json
Due: oxfmt, oxlint --fix

chore: update bun.lock for @semajsx/prompt package rename
  bun.lock
Due: none

fix: resolve multi-instance render interference and insertBefore inconsistency
  packages/prompt/src/operations.test.ts
  packages/prompt/src/operations.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix

feat: add soul-chat reactive prompt example
  packages/prompt/examples/soul-chat.tsx
Due: oxfmt, oxlint --fix

feat: add Each and Window components to @semajsx/prompt
  packages/core/src/render-core.ts
  packages/prompt/examples/soul-chat.tsx
  packages/prompt/src/components/Each.tsx
  packages/prompt/src/components/Window.tsx
  packages/prompt/src/components/components.test.tsx
  packages/prompt/src/components/index.ts
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix

chore: add project-level Claude Code hooks
  .claude/settings.json
Due: oxfmt

feat(terminal): add TextInput component and fix JSXNode type
  bun.lock
  packages/core/src/types.ts
  packages/signal/package.json
  packages/terminal/src/components/TextInput.test.tsx
  packages/terminal/src/components/TextInput.tsx
  packages/terminal/src/components/index.ts
Due: oxfmt, oxlint --fix

feat(terminal): add Static component for permanent output
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/index.ts
  packages/terminal/src/context.ts
  packages/terminal/src/render.ts
  packages/terminal/src/renderer.ts
Due: oxfmt, oxlint --fix

fix(terminal): fix TextInput and Static to work with signal architecture
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/TextInput.test.tsx
  packages/terminal/src/components/TextInput.tsx
Due: oxfmt, oxlint --fix

fix(terminal): harden Static/TextInput, break signal-core cycle
  bun.lock
  packages/signal/package.json
  packages/signal/src/types.ts
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/TextInput.tsx
Due: oxfmt, oxlint --fix

fix(core): remove () => JSXNode from JSXNode type
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

fix(terminal): use core WritableSignal in TextInput, narrow Static render type
  packages/terminal/src/components/Static.tsx
  packages/terminal/src/components/TextInput.tsx
Due: oxfmt, oxlint --fix

fix(terminal): fix Static return type to use VNode instead of missing JSXNode
  packages/terminal/src/components/Static.tsx
Due: oxfmt, oxlint --fix

docs: add changeset for terminal components
  .changeset/calm-bags-tan.md
Due: oxfmt

chore: version packages
  .changeset/calm-bags-tan.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
  packages/ssg/CHANGELOG.md
  packages/ssg/package.json
  packages/ssr/CHANGELOG.md
  packages/ssr/package.json
  packages/terminal/CHANGELOG.md
  packages/terminal/package.json
Due: oxfmt

fix(prompt): batch committed renders
  packages/core/src/index.ts
  packages/prompt/src/jsx-runtime.ts
  packages/prompt/src/render.test.tsx
  packages/prompt/src/render.ts
Due: oxfmt, oxlint --fix
