Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

fix(ssg): add built-in remark-gfm to docs-theme plugin
  apps/docs/build.tsx
  apps/docs/package.json
  bun.lock
  packages/ssg/package.json
  packages/ssg/src/plugins/docs-theme/index.ts
Due: oxfmt, oxlint --fix

refactor(semajsx): remove redundant external list from tsdown config
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: add changeset for PR #114
  .changeset/auto-pr-114.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-114.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

feat(ssg): improve table mobile display and use Maple Mono font
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock
  bun.lock
Due: none

chore: add script to download and update Maple Mono NF CN font
  scripts/update-maple-font.sh
Due: none

chore: add changeset for PR #117
  .changeset/auto-pr-117.md
Due: oxfmt

fix(ssg): remove scroll shadow gradients causing table edge whitespace
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): make table edge-to-edge on mobile to eliminate side whitespace
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): remove display:block on mobile table to fix column fill
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): remove unnecessary negative margins on mobile table
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): wrap tables in scrollable div for proper mobile overflow
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): prevent code block language label from scrolling horizontally
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): restore pre.shiki positioning context, hide redundant label
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): wrap pre in .dt-code-block via MDX component override
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): style code block label as floating overlay, not separate bar
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): fix table clipping and code label readability on mobile
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): remove white-space:nowrap and max-content from mobile tables
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

feat(ssg): add client-side tab interactivity for static docs
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

refactor(docs): depend on @semajsx/ssg source instead of semajsx bundle
  apps/docs/build.tsx
  apps/docs/package.json
Due: oxfmt, oxlint --fix

chore: update bun.lock after docs dependency change
  bun.lock
Due: none

refactor(ssg): use island architecture for tab interactivity
  packages/ssg/src/plugins/docs-theme/client/tabs-enhance.tsx
  packages/ssg/src/plugins/docs-theme/components.tsx
Due: oxfmt, oxlint --fix

refactor(ui,ssr): make Tabs reactive and hydrate islands in-place
  packages/ssg/src/plugins/docs-theme/client/tabs-enhance.tsx
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssr/src/client/hydrate.ts
  packages/ui/src/components/tabs/tabs.tsx
Due: oxfmt, oxlint --fix

feat(ssr): serialize and reconstruct island children for full tree hydration
  packages/ssg/src/plugins/docs-theme/client/tabs-enhance.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssr/src/app.ts
  packages/ssr/src/client/hydrate.ts
  packages/ssr/src/render.ts
  packages/ui/src/components/tabs/tabs.tsx
Due: oxfmt, oxlint --fix

refactor(ssg): remove tabs-enhance.tsx, use source module path for island
  packages/ssg/src/plugins/docs-theme/client/tabs-enhance.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
Due: oxfmt, oxlint --fix

docs: add island architecture improvement plan
  tasks/island-improvements/README.md
Due: oxfmt

fix(ssr): improve island hydration stability and resilience
  packages/ssr/src/client/hydrate.ts
  packages/ssr/src/render.ts
  tasks/island-improvements/README.md
Due: oxfmt, oxlint --fix

fix(ssg): allow pointer events on interactive island previews
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ssg): add interactive param to ComponentPreview for pointer events
  apps/docs/content/ui/tabs.mdx
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(ui): pre-set aria-selected and hidden on tabs for SSR
  packages/ui/src/components/tabs/tabs.tsx
Due: oxfmt, oxlint --fix
