Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

refactor(style): remove automatic unit extraction - signal values are used as-is
  packages/style/src/react.test.ts
  packages/style/src/react.ts
  packages/style/src/registry.test.ts
  packages/style/src/registry.ts
  packages/style/src/rule.test.ts
  packages/style/src/rule.ts
  packages/style/src/types.ts
  packages/style/src/vue.test.ts
  packages/style/src/vue.ts
Due: oxfmt, oxlint --fix

test(style): add CSS validation tests using lightningcss
  packages/style/package.json
  packages/style/src/css-validation.test.ts
  packages/style/src/rule.ts
  packages/style/vitest.config.ts
  packages/style/vitest.node.config.ts
Due: oxfmt, oxlint --fix

fix(style): prevent duplicated signal subscriptions and use replaceAll
  packages/style/src/inject.ts
  packages/style/src/react.ts
  packages/style/src/registry.ts
  packages/style/src/rule.ts
  packages/style/src/vue.ts
Due: oxfmt, oxlint --fix

fix(style): use Vue ^3.5.0 (3.6.0 doesn't exist yet)
  packages/style/package.json
Due: oxfmt

fix(style): update dependencies for React and Vue, add lightningcss
  bun.lock
Due: none

docs: update documentation to reflect current tooling and packages
  CLAUDE.md
  CONTRIBUTING.md
  MONOREPO_ARCHITECTURE.md
  README.md
  TESTING.md
  apps/docs/package.json
  bun.lock
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/logger/package.json
  packages/semajsx/README.md
  packages/semajsx/package.json
  packages/signal/README.md
  packages/signal/package.json
  packages/ssg/package.json
  packages/ssr/package.json
  packages/style/package.json
  packages/utils/README.md
  packages/utils/package.json
Due: oxfmt

docs: add Tailwind integration implementation plan
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

docs(tailwind): add class name prefix strategy analysis
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

docs(tailwind): update prefix strategy and hash analysis
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

docs(tailwind): add hash performance analysis
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

docs(tailwind): fix inconsistencies in plan documentation
  tasks/tailwind-integration/README.md
Due: oxfmt

docs(tailwind): add proposal for improved classes() API
  tasks/tailwind-integration/EVOLUTION.md
Due: oxfmt

docs: recommend factory function pattern for classes() API
  tasks/tailwind-integration/EVOLUTION.md
Due: oxfmt

docs: fix createUtility signature inconsistency in README
  tasks/tailwind-integration/README.md
Due: oxfmt

feat(tailwind): implement Phase 1 core infrastructure
  bun.lock
  packages/tailwind/package.json
  packages/tailwind/src/config.ts
  packages/tailwind/src/core.test.ts
  packages/tailwind/src/core.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/types.ts
  packages/tailwind/tsconfig.json
  packages/tailwind/vitest.config.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add spacing utilities (Phase 2)
  packages/tailwind/src/index.ts
  packages/tailwind/src/spacing.test.ts
  packages/tailwind/src/spacing.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add sizing utilities (Phase 3)
  packages/tailwind/src/index.ts
  packages/tailwind/src/sizing.test.ts
  packages/tailwind/src/sizing.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add color utilities (Phase 4)
  packages/tailwind/src/colors.test.ts
  packages/tailwind/src/colors.ts
  packages/tailwind/src/index.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add flexbox utilities (Phase 5)
  packages/tailwind/src/flexbox.test.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/index.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add typography utilities (Phase 6)
  packages/tailwind/src/index.ts
  packages/tailwind/src/typography.test.ts
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add layout and effects utilities (Phase 7)
  packages/tailwind/src/effects.test.ts
  packages/tailwind/src/effects.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/layout.test.ts
  packages/tailwind/src/layout.ts
Due: oxfmt, oxlint --fix

refactor(tailwind): use Proxy for dynamic spacing namespace
  packages/tailwind/src/index.ts
  packages/tailwind/src/spacing.test.ts
  packages/tailwind/src/spacing.ts
Due: oxfmt, oxlint --fix

refactor(tailwind): improve API with Proxy-based namespaces
  packages/tailwind/src/colors.test.ts
  packages/tailwind/src/colors.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/sizing.test.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.test.ts
  packages/tailwind/src/spacing.ts
Due: oxfmt, oxlint --fix

refactor(tailwind): unify namespace and tagged template APIs
  packages/tailwind/src/effects.test.ts
  packages/tailwind/src/effects.ts
  packages/tailwind/src/flexbox.test.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/layout.test.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.test.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/typography.test.ts
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

refactor(tailwind): redesign API with flat exports and merged naming
  packages/tailwind/src/core.ts
  packages/tailwind/src/effects.test.ts
  packages/tailwind/src/effects.ts
  packages/tailwind/src/flexbox.test.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/helpers.test.ts
  packages/tailwind/src/helpers.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/layout.test.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.test.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.test.ts
  packages/tailwind/src/spacing.ts
  packages/tailwind/src/typography.test.ts
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

docs(tailwind): update design docs and add naming convention guide
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/NAMING_CONVENTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt

refactor(tailwind): remove decimal flat exports, use tagged templates instead
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.test.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.test.ts
  packages/tailwind/src/spacing.ts
  tasks/tailwind-integration/EVOLUTION.md
  tasks/tailwind-integration/NAMING_CONVENTION.md
  tasks/tailwind-integration/README.md
Due: oxfmt, oxlint --fix

fix(core): use Node environment for tests instead of Playwright
  packages/core/vitest.config.ts
  vitest.unit.config.ts
Due: oxfmt, oxlint --fix

docs: mark keyed reconciliation as complete in roadmap
  README.md
Due: oxfmt

fix(tailwind): add afterEach to reset config in tests
  packages/tailwind/src/core.test.ts
  packages/tailwind/src/spacing.test.ts
Due: oxfmt, oxlint --fix

feat(tailwind): add margin auto and border side utilities
  packages/core/package.json
  packages/dom/package.json
  packages/logger/package.json
  packages/semajsx/package.json
  packages/signal/package.json
  packages/ssr/package.json
  packages/tailwind/src/effects.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.ts
  packages/terminal/package.json
  packages/utils/package.json
Due: oxfmt, oxlint --fix

feat(docs): migrate docs site styles to @semajsx/tailwind
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/generate-css.ts
  apps/docs/package.json
  apps/docs/styles-tailwind.css
  bun.lock
Due: oxfmt, oxlint --fix

docs(style,tailwind): add comprehensive user documentation
  packages/style/README.md
  packages/tailwind/README.md
Due: oxfmt

docs: add style system examples guide (663 lines)
  apps/docs/content/guides/styling-examples.md
Due: oxfmt

feat(semajsx): add ssg/ssr/style/tailwind subpath exports and migrate docs
  apps/docs/README.md
  apps/docs/build.tsx
  apps/docs/components/Callout.tsx
  apps/docs/components/CodeBlock.tsx
  apps/docs/components/Document.tsx
  apps/docs/components/Layout.tsx
  apps/docs/content/docs/ssg.md
  apps/docs/content/guides/styling-examples.md
  apps/docs/package.json
  apps/docs/tsconfig.json
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/src/ssg/index.ts
  packages/semajsx/src/ssr/client.ts
  packages/semajsx/src/ssr/index.ts
  packages/semajsx/src/style/index.ts
  packages/semajsx/src/style/react.ts
  packages/semajsx/src/style/vue.ts
  packages/semajsx/src/tailwind/index.ts
  packages/semajsx/tsdown.config.ts
  packages/style/src/react.ts
  packages/style/src/vue.ts
  packages/tailwind/src/effects.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.ts
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

refactor(semajsx): bundle all @semajsx/* packages into single publishable package
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/src/dom/index.ts
  packages/semajsx/src/dom/jsx-dev-runtime.ts
  packages/semajsx/src/dom/jsx-runtime.ts
  packages/semajsx/src/signal/index.ts
  packages/semajsx/src/terminal/index.ts
  packages/semajsx/src/terminal/jsx-dev-runtime.ts
  packages/semajsx/src/terminal/jsx-runtime.ts
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: cleanup imports and docs for single-package publishing
  apps/docs/content/docs/components.md
  apps/docs/content/docs/getting-started.md
  apps/docs/content/docs/signals.md
  apps/docs/content/guides/building-a-counter.md
  packages/semajsx/README.md
  packages/semajsx/package.json
Due: oxfmt

feat(docs): add Vercel deployment configuration
  apps/docs/.vercelignore
  apps/docs/DEPLOYMENT.md
  apps/docs/build.tsx
  apps/docs/components/NotFound.tsx
  apps/docs/vercel.json
Due: oxfmt, oxlint --fix

feat(docs): implement Apple-inspired design system
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/styles/theme.style.ts
Due: oxfmt, oxlint --fix

fix: resolve review issues across docs, SSR, and SSG packages
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
  apps/docs/styles.css
  apps/docs/styles/extract.ts
  packages/core/package.json
  packages/signal/package.json
  packages/ssg/src/ssg.ts
  packages/ssr/src/app.ts
  packages/ssr/src/build.test.ts
  packages/ssr/src/collector.ts
  packages/ssr/src/html-entry-build.test.ts
  packages/ssr/src/index.ts
  packages/ssr/src/render.ts
  packages/ssr/src/shared/types.ts
Due: oxfmt, oxlint --fix

Path conditions:
  oxfmt: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
