Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

chore(docs): remove DEPLOYMENT.md
  apps/docs/DEPLOYMENT.md
Due: oxfmt

docs: refine Apple design language across docs site
  apps/docs/build.tsx
  apps/docs/components/Callout.tsx
  apps/docs/components/CodeBlock.tsx
  apps/docs/components/Document.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
  apps/docs/styles-tailwind.css
  apps/docs/styles.css
  apps/docs/styles/theme.style.ts
Due: oxfmt, oxlint --fix

docs: add mobile responsive design optimizations
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
  apps/docs/styles-tailwind.css
  apps/docs/styles.css
Due: oxfmt, oxlint --fix

fix: enable GFM table rendering in docs with remark-gfm
  apps/docs/build.tsx
  apps/docs/package.json
  apps/docs/styles-tailwind.css
  apps/docs/styles.css
  bun.lock
Due: oxfmt, oxlint --fix

style: fix formatting in generated styles.css
  apps/docs/styles.css
Due: none

fix: resolve all typecheck errors across the codebase
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/styles/theme.style.ts
  packages/configs/tsconfig.app.json
  packages/configs/tsconfig.base.json
  packages/configs/tsconfig.lib.json
  packages/configs/tsconfig.test.json
  packages/tailwind/src/colors.ts
  packages/tailwind/src/effects.ts
  packages/tailwind/src/flexbox.ts
  packages/tailwind/src/layout.ts
  packages/tailwind/src/sizing.ts
  packages/tailwind/src/spacing.ts
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

feat: improve portal support with explicit collectNodes handling and comprehensive tests
  packages/core/src/render-core.ts
  packages/dom/src/portal.test.tsx
Due: oxfmt, oxlint --fix

docs: update CLAUDE.md and ROADMAP.md with current project status
  CLAUDE.md
  docs/ROADMAP.md
Due: oxfmt

fix: portal children not cleaned up when signal value changes
  packages/core/src/render-core.ts
Due: oxfmt, oxlint --fix

chore: add happy-dom for DOM test fallback without Playwright
  bun.lock
  package.json
Due: oxfmt

Enhance CI workflow with concurrency and caching
  .github/workflows/ci.yml
Due: oxfmt

feat(style): add advanced styling - theme, animations, responsive
  packages/style/src/animate.test.ts
  packages/style/src/animate.ts
  packages/style/src/index.ts
  packages/style/src/keyframes.test.ts
  packages/style/src/keyframes.ts
  packages/style/src/responsive.test.ts
  packages/style/src/responsive.ts
  packages/style/src/rule.ts
  packages/style/src/theme.test.ts
  packages/style/src/theme.ts
  packages/style/vitest.advanced.config.ts
Due: oxfmt, oxlint --fix

fix(style): add explicit type annotation for breakpoints export
  packages/style/src/responsive.ts
Due: oxfmt, oxlint --fix

feat(docs): add @semajsx/style keyframe animations to docs site
  apps/docs/build.tsx
  apps/docs/styles.css
  apps/docs/styles/theme.style.ts
Due: oxfmt, oxlint --fix

style(docs): reformat generated styles.css
  apps/docs/styles.css
Due: none

refactor(docs): replace theme.xxx._ with theme.xxx
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
  packages/tailwind/src/helpers.ts
Due: oxfmt, oxlint --fix

feat(docs): add syntax highlighting for code blocks with Shiki
  apps/docs/build.tsx
  apps/docs/package.json
  apps/docs/styles.css
  bun.lock
Due: oxfmt, oxlint --fix

fix(docs): fix type error in Shiki transformer
  apps/docs/build.tsx
Due: oxfmt, oxlint --fix

feat(workflows): add architecture-review working group
  .workflows/architecture-review.yaml
Due: oxfmt

fix(workflows): let deepseek handle Phase 4 synthesis
  .workflows/architecture-review.yaml
Due: oxfmt

refactor(workflows): redesign as project introspection tool
  .workflows/architecture-review.yaml
Due: oxfmt

feat: add changeset and release workflows
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changeset-release.yml
  .github/workflows/release.yml
  .npmrc
  package.json
Due: oxfmt

feat: add agent-changeset workflow for automatic changeset generation
  .github/workflows/changeset-release.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

style: format code with oxfmt
  .github/workflows/changeset-release.yml
  .workflows/.workflow/architecture-review/_state/agent-status.json
  .workflows/.workflow/architecture-review/_state/inbox.json
  .workflows/.workflow/architecture-review/_state/instance.lock
  .workflows/.workflow/architecture-review/channel.jsonl
  .workflows/.workflow/architecture-review/cursor-fixes-summary.md
  .workflows/.workflow/architecture-review/cursor-response.md
  .workflows/.workflow/architecture-review/documents/fixes/type-safety-fixes.md
  .workflows/.workflow/architecture-review/phase2-analysis.md
  .workflows/.workflow/architecture-review/resources/res_mlxpmc2jatlerh.md
  .workflows/.workflow/architecture-review/resources/res_mlxpo658vgm0v2.md
  .workflows/.workflow/architecture-review/resources/res_mlxppzv4wsmnrd.md
  .workflows/.workflow/architecture-review/resources/res_mlxpq5ucii262s.md
  .workflows/.workflow/architecture-review/resources/res_mlxprfxzm0d7ff.md
  .workflows/.workflow/architecture-review/resources/res_mlxprm0bhoqdjj.md
  .workflows/.workflow/architecture-review/resources/res_mlxpsfhtwb0h0l.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu20mckksk8.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu90whnpl1c.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwbkk3ucunk.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwivzlyxf52.md
  .workflows/.workflow/architecture-review/resources/res_mlxpyti6kfglc1.md
  .workflows/.workflow/architecture-review/workspaces/cursor/.cursor/mcp.json
  .workflows/.workflow/architecture-review/workspaces/minimax-claude/mcp-config.json
  apps/docs/styles.css
  packages/core/src/component.ts
  packages/core/src/context.ts
  packages/core/src/helpers.ts
  packages/core/src/render-core.ts
  packages/dom/src/properties.ts
  packages/signal/src/computed.ts
  packages/signal/src/signal.ts
  packages/ssr/src/client/island.ts
  packages/ssr/src/shared/types.ts
  packages/ssr/src/vite-router.ts
Due: oxfmt, oxlint --fix

chore: remove workflow artifacts from git
  .gitignore
  .workflows/.workflow/architecture-review/_state/agent-status.json
  .workflows/.workflow/architecture-review/_state/inbox.json
  .workflows/.workflow/architecture-review/_state/instance.lock
  .workflows/.workflow/architecture-review/channel.jsonl
  .workflows/.workflow/architecture-review/cursor-fixes-summary.md
  .workflows/.workflow/architecture-review/cursor-response.md
  .workflows/.workflow/architecture-review/documents/fixes/type-safety-fixes.md
  .workflows/.workflow/architecture-review/phase2-analysis.md
  .workflows/.workflow/architecture-review/resources/res_mlxpmc2jatlerh.md
  .workflows/.workflow/architecture-review/resources/res_mlxpo658vgm0v2.md
  .workflows/.workflow/architecture-review/resources/res_mlxppzv4wsmnrd.md
  .workflows/.workflow/architecture-review/resources/res_mlxpq5ucii262s.md
  .workflows/.workflow/architecture-review/resources/res_mlxprfxzm0d7ff.md
  .workflows/.workflow/architecture-review/resources/res_mlxprm0bhoqdjj.md
  .workflows/.workflow/architecture-review/resources/res_mlxpsfhtwb0h0l.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu20mckksk8.md
  .workflows/.workflow/architecture-review/resources/res_mlxpu90whnpl1c.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwbkk3ucunk.md
  .workflows/.workflow/architecture-review/resources/res_mlxpwivzlyxf52.md
  .workflows/.workflow/architecture-review/resources/res_mlxpyti6kfglc1.md
  .workflows/.workflow/architecture-review/workspaces/cursor/.cursor/mcp.json
  .workflows/.workflow/architecture-review/workspaces/minimax-claude/mcp-config.json
Due: oxfmt

feat: add changeset and release workflows (code changes reverted)
  apps/docs/styles.css
  packages/core/src/component.ts
  packages/core/src/context.ts
  packages/core/src/helpers.ts
  packages/core/src/render-core.ts
  packages/dom/src/properties.ts
  packages/signal/src/computed.ts
  packages/signal/src/signal.ts
  packages/ssr/src/client/island.ts
  packages/ssr/src/shared/types.ts
  packages/ssr/src/vite-router.ts
Due: oxfmt, oxlint --fix

fix: simplify changeset workflow - skip agent-worker build in CI
  .github/workflows/changeset-release.yml
Due: oxfmt

fix: typecheck errors - ES2021 lib, unused params, extractCss types
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  packages/configs/tsconfig.base.json
  packages/configs/tsconfig.lib.json
  packages/tailwind/src/typography.ts
Due: oxfmt, oxlint --fix

style: format code
  .github/workflows/changeset-release.yml
  apps/docs/styles.css
Due: oxfmt

fix: build errors - isolatedDeclarations, import paths
  packages/core/package.json
  packages/signal/package.json
  packages/ssr/src/collector.ts
  packages/ssr/src/render.ts
  packages/ssr/src/shared/types.ts
  packages/tailwind/tsconfig.json
Due: oxfmt, oxlint --fix

chore: remove .npmrc from git, add to .gitignore
  .gitignore
  .npmrc
Due: none
