Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

chore: update bun.lock
  bun.lock
Due: none

fix: allow manual publish trigger
  .github/workflows/changeset-release.yml
Due: oxfmt

fix: correct styles.css path in NotFound component
  apps/docs/components/NotFound.tsx
Due: oxfmt, oxlint --fix

fix: publish runs independently on manual trigger
  .github/workflows/changeset-release.yml
Due: oxfmt

refactor: centralize styles.css loading in Layout component
  apps/docs/build.tsx
  apps/docs/components/Layout.tsx
  apps/docs/components/NotFound.tsx
Due: oxfmt, oxlint --fix

style: align 404 page with Apple-inspired design system
  apps/docs/components/NotFound.tsx
  apps/docs/styles.css
Due: oxfmt, oxlint --fix

fix: heredoc syntax and filter only semajsx package changes
  .github/workflows/changeset-release.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

fix: check packages/ for semajsx (includes bundled packages)
  .workflows/agent-changeset.yaml
Due: oxfmt

fix: use changeset publish instead of manual npm
  .changeset/README.md
  .changeset/auto-pr-83.md
  .changeset/auto-pr-86.md
  .changeset/auto-pr-87.md
  .changeset/auto-pr-89.md
  .changeset/auto-pr-95.md
  .changeset/config.json
  .github/workflows/changeset-release.yml
  package.json
Due: oxfmt

chore: update bun.lock with changeset dependencies
  bun.lock
Due: none

fix: rewrite GitHub workflows to fix critical bugs
  .github/workflows/changeset-agent.yml
  .github/workflows/changeset-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt

fix: use OIDC auth for npm publish and fix workflow issues
  .github/workflows/changeset-agent.yml
  .github/workflows/release.yml
Due: oxfmt

fix: replace direct push to main with PR-based merge in changeset-agent
  .github/workflows/changeset-agent.yml
Due: oxfmt

fix: remove invalid changeset files referencing non-existent agent-worker package
  .changeset/auto-pr-83.md
  .changeset/auto-pr-86.md
  .changeset/auto-pr-87.md
  .changeset/auto-pr-89.md
  .changeset/auto-pr-95.md
Due: oxfmt

fix: add package validation to changeset workflow and constrain agent prompt
  .github/workflows/changeset-agent.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

fix: constrain changesets to only the published semajsx package
  .changeset/config.json
  .github/workflows/changeset-agent.yml
  .workflows/agent-changeset.yaml
Due: oxfmt

fix: add npm auth token and simplify single-package release workflow
  .github/workflows/changeset-agent.yml
  .github/workflows/release.yml
Due: oxfmt

refactor: mark internal packages private and add conditional subpath exports
  packages/core/package.json
  packages/dom/package.json
  packages/logger/package.json
  packages/semajsx/package.json
  packages/signal/package.json
  packages/ssg/package.json
  packages/ssr/package.json
  packages/style/package.json
  packages/tailwind/package.json
  packages/terminal/package.json
  packages/utils/package.json
Due: oxfmt

docs: update publishing strategy to reflect single-package model
  MONOREPO_ARCHITECTURE.md
Due: oxfmt

refactor: enforce single-package publishing with subpath exports
  .changeset/config.json
  CLAUDE.md
  packages/core/package.json
  packages/dom/package.json
  packages/logger/package.json
  packages/semajsx/package.json
  packages/signal/package.json
  packages/ssg/package.json
  packages/ssr/package.json
  packages/style/package.json
  packages/tailwind/package.json
  packages/terminal/package.json
  packages/utils/package.json
Due: oxfmt

fix: resolve changesets config validation by marking internal packages as private
  .changeset/config.json
  packages/core/package.json
  packages/dom/package.json
  packages/logger/package.json
  packages/signal/package.json
  packages/ssg/package.json
  packages/ssr/package.json
  packages/style/package.json
  packages/tailwind/package.json
  packages/terminal/package.json
  packages/utils/package.json
Due: oxfmt

fix: add NODE_AUTH_TOKEN to release workflow publish step
  .github/workflows/release.yml
  packages/semajsx/package.json
Due: oxfmt

fix: resolve npm publish warnings for always-auth and publishConfig.exports
  .github/workflows/release.yml
  packages/semajsx/package.json
  packages/semajsx/scripts/prepack.mjs
Due: oxfmt

fix: add repository field for npm provenance verification
  packages/semajsx/package.json
Due: oxfmt

style: fix indentation in prepack script
  packages/semajsx/scripts/prepack.mjs
Due: none

refactor: replace prepack script with conditional exports
  packages/configs/tsconfig.base.json
  packages/semajsx/package.json
  packages/semajsx/scripts/prepack.mjs
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix
