Repository semajsx/semajsx: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix

fix(ssr): increase timeout for flaky Vite build test
  packages/ssr/src/build.test.ts
Due: oxfmt, oxlint --fix

feat(docs-theme): support custom homepage or disabling default HomePage
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/docs-theme.test.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ssg/src/plugins/index.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock
  bun.lock
Due: none

chore: add changeset for PR #103
  .changeset/auto-pr-103.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-103.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

fix(ui): add tabs and steps to tsdown build entries
  packages/ui/package.json
  packages/ui/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: add changeset for PR #106
  .changeset/auto-pr-106.md
Due: oxfmt

feat(docs,ui): add UI components showcase section with 5 new components
  apps/docs/build.tsx
  apps/docs/content/ui/avatar.mdx
  apps/docs/content/ui/badge.mdx
  apps/docs/content/ui/button.mdx
  apps/docs/content/ui/callout.mdx
  apps/docs/content/ui/card.mdx
  apps/docs/content/ui/code-block.mdx
  apps/docs/content/ui/input.mdx
  apps/docs/content/ui/kbd.mdx
  apps/docs/content/ui/separator.mdx
  apps/docs/content/ui/steps.mdx
  apps/docs/content/ui/switch.mdx
  apps/docs/content/ui/tabs.mdx
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ssg/src/plugins/docs-theme/index.ts
  packages/ssg/src/plugins/docs-theme/styles.ts
  packages/ssg/src/plugins/docs-theme/types.ts
  packages/ui/package.json
  packages/ui/src/components/avatar/avatar.style.ts
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/avatar/index.ts
  packages/ui/src/components/input/index.ts
  packages/ui/src/components/input/input.style.ts
  packages/ui/src/components/input/input.tsx
  packages/ui/src/components/kbd/index.ts
  packages/ui/src/components/kbd/kbd.style.ts
  packages/ui/src/components/kbd/kbd.tsx
  packages/ui/src/components/separator/index.ts
  packages/ui/src/components/separator/separator.style.ts
  packages/ui/src/components/separator/separator.tsx
  packages/ui/src/components/switch/index.ts
  packages/ui/src/components/switch/switch.style.ts
  packages/ui/src/components/switch/switch.tsx
  packages/ui/src/css.ts
  packages/ui/src/index.ts
Due: oxfmt, oxlint --fix

chore(ui): align version to 0.1.0 with monorepo 0.x convention
  packages/ui/package.json
Due: oxfmt

fix: resolve type errors in new UI components and docs-theme
  packages/dom/src/jsx-runtime.ts
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ui/src/components/switch/switch.style.ts
Due: oxfmt, oxlint --fix

style: format MDX content files with oxfmt
  apps/docs/content/ui/avatar.mdx
  apps/docs/content/ui/badge.mdx
  apps/docs/content/ui/button.mdx
  apps/docs/content/ui/callout.mdx
  apps/docs/content/ui/card.mdx
  apps/docs/content/ui/code-block.mdx
  apps/docs/content/ui/input.mdx
  apps/docs/content/ui/kbd.mdx
  apps/docs/content/ui/separator.mdx
  apps/docs/content/ui/steps.mdx
  apps/docs/content/ui/switch.mdx
  apps/docs/content/ui/tabs.mdx
Due: none

fix(ui,docs): fix Switch styling, add real mini-previews, restore exports
  apps/docs/content/ui/steps.mdx
  apps/docs/content/ui/switch.mdx
  packages/ssg/src/plugins/docs-theme/components.tsx
  packages/ui/package.json
  packages/ui/src/components/switch/switch.style.ts
  packages/ui/src/components/switch/switch.tsx
Due: oxfmt, oxlint --fix

fix(docs): reset child margins inside preview containers
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(docs): make preview components non-interactive, improve spacing
  packages/ssg/src/plugins/docs-theme/styles.ts
Due: oxfmt, oxlint --fix

fix(docs): reduce Card/Steps mini-preview scale to fit within 80px container
  packages/ssg/src/plugins/docs-theme/components.tsx
Due: oxfmt, oxlint --fix

chore: add changeset for PR #109
  .changeset/auto-pr-109.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-106.md
  .changeset/auto-pr-109.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  bun.lock
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

fix(ui): add missing component entry points to tsdown build config
  packages/ui/tsdown.config.ts
Due: oxfmt, oxlint --fix

chore: update bun.lock with versioned package versions
  bun.lock
Due: none

chore: add changeset for PR #111
  .changeset/auto-pr-111.md
Due: oxfmt

chore: version packages
  .changeset/auto-pr-111.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/semajsx/CHANGELOG.md
  packages/semajsx/package.json
Due: oxfmt

fix(ssg): add built-in remark-gfm to docs-theme plugin
  apps/docs/build.tsx
  apps/docs/package.json
  bun.lock
  packages/ssg/package.json
  packages/ssg/src/plugins/docs-theme/index.ts
Due: oxfmt, oxlint --fix

refactor(semajsx): remove redundant external list from tsdown config
  bun.lock
  packages/semajsx/package.json
  packages/semajsx/tsdown.config.ts
Due: oxfmt, oxlint --fix

Path conditions:
  oxfmt: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
